<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
  </head>
  <body>
    <h1>Bienvenue sur la page d'accueil de l'API Russell</h1>
    <article>
      <h2>Qu'est ce que cette API ?</h2>
      <p>
        Vous retrouverez ici l'ensemble des catways disponible sur le port de
        plaisance Russell
      </p>
      <p>
        Ainsi qu'un système pour réserver un catway. Il faut pour cela avoir un
        compte utilisateur et se connecter à son tableau de bord.
      </p>
      <p>
        Vous pouvez retrouver votre tableau de bord ci-après, en vous
        connectant, ainsi que la documentation de l'API.
      </p>
    </article>

    <form action="/users/authenticate" method="POST">
      <label for="email">Entrez votre email</label>
      <input type="text" name="email" />
      <label for="password">Entrez votre mot de passe</label>
      <input type="text" name="password" />

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
