<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
  </head>
  <body>
    <h1>Welcome to Catway Management</h1>
    <ul>
      <li><a href="/catways/create">Create a New Catway</a></li>
      <li><a href="/catways">View All Catways</a></li>
      <li><a href="/catways/update">Update a Catway</a></li>
      <li><a href="/catways/delete">Delete a Catway</a></li>
    </ul>
  </body>
</html>
