<!DOCTYPE html>

<html lang="fr">
  <body>
    <form method="POST" action="/catways">
      <fieldset>
        <legend>Formulaire de test de création de catways</legend>
        <br />
        <label>Choisissez un numéro</label>
        <input type="text" name="catwayNumber" required /><br /><br />
        <select name="type">
          <option value="Long">Long</option>
          <option value="Court">Court</option>
        </select>
        <label> Description du catway</label>
        <input type="text" name="catwayState" required /><br /><br />

        <input type="submit" value="submit" />
      </fieldset>
    </form>
  </body>
</html>
