<!DOCTYPE html>

<html lang="fr">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="POST" action="/catways/<%= catway._id %>?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
