<!DOCTYPE html>

<html lang="fr">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="GET" action="/catways/<%= catway.id %>">
      <button>Find</button>
    </form>
  </body>
</html>
