<!DOCTYPE html>

<html lang="fr">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
