<!DOCTYPE html>

<html lang="fr">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="GET" action="/users/<%= user._id %>">
      <button type="submit">Find</button>
    </form>
  </body>
</html>
